#compiled files and the monstor that node usually is
node_modules
dist
bundles
tmp
deprecated/

#compiled sources
reference

.prettierrc
.nyc_output
coverage
docs

.idea

*.test.ts

# mac stuff
.DS_Store

# other stuff
PRD.*

mockup.html

# Tắt commit thư mục build
dist/
build/

# Hoặc tắt commit các file tự sinh nếu không gom vào dist
*.js.map
*.d.ts.map
